{% extends 'layout/base.html' %}
{% load staticfiles compressed %}
{% compressed_css 'libs' %}

{% block title %}Django Bower Example{% endblock %}

<!-- Styles -->
{% block css %}

	<!-- Dependencies -->
	{% compressed_css 'libraries' %}

	<!-- Styles --> 
	{% compressed_css 'base' %}

{% endblock %}

<!-- Content -->
{% block content %}
<div class="site-wrapper">

  	<div class="site-wrapper-inner">

    	<div class="cover-container">

      		<div class="masthead clearfix">
        		<div class="inner">
          			<h3 class="masthead-brand">Django & Bower</h3>
          			<ul class="nav masthead-nav">
            			<li class="active"><a href="#">Home</a></li>
		            	<li><a href="http://axiacore.com/blog/effective-dependency-management-django-using-bower/">Original Article</a></li>
		            	<li><a href="https://github.com/axiacore/django-bower">GitHub</a></li>
		          </ul>
        		</div>
      		</div>

	      	<div class="inner cover">
	        	<h1 class="cover-heading">
	        		<a href="http://bower.io/">Bower</a> In Your Django Projects.
	        	</h1>
	        	<p class="lead">
	        
	        		Congratulations, you're using <a href="http://bower.io/">Bower</a>. Happy dependency management!
	        	
	        	</p>

	        	<p class="lead">
	          		<a href="http://axiacore.com/blog/effective-dependency-management-django-using-bower/" class="btn btn-lg btn-default">Read original Article</a>
	        	</p>
	      	</div>

	      	<div class="mastfoot">
	        	<div class="inner">
	          		<p>Built with love by <a href="http://axiacore.com">AxiaCore</a>.</p>
	        	</div>
	      	</div>

    	</div>

  	</div>

</div>
{% endblock %}